<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.examablecase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.radiobutton.RadioActivity" />
        <activity android:name=".design.StateBar.StatusbarActivity" />
        <activity android:name=".design.DesignActivity" />
        <activity android:name=".design.Textinput.TextInputActivity" />
        <activity android:name=".widget.randomTextView.RandomActivity" />
        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".widget.loading.LoadingActivity"></activity>
    </application>

</manifest>